# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# IDEs/editors
.vscode/
.idea/

# Eclipse / PyDev
.project
.pydevproject
.settings/

# OS files
.DS_Store
Thumbs.db
